<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento Acadêmico</title>
    <!-- Incluindo Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="/">Sistema Academico</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/">Página Inicial</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="admin">Administração</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="estudantes">Estudantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="cursos">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="disciplinas">Disciplinas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="avaliacoes">Avaliações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="turmas">Turmas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="professores">Professores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="frequencia">Frequencias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="matriculas">Matrículas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="ocorrencias">Ocorrencias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="areasdosaber">Áreas do Saber</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="instituicoes">Instituições</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <h1 class="mb-4">Ocorrencias</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Descrição</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Data</th>
                    <th scope="col">Disciplina</th>
                    <th scope="col">Pessoa</th>
                </tr>
            </thead>
            <tbody>
                {% for i in ocorrencias %}
                <tr>
                    <td>{{ i.descricao }}</td>
                    <td>{{ i.curso }}</td>
                    <td>{{ i.data }}</td>
                    <td>{{ i.disciplina}}</td>
                    <td>{{ i.pessoa}}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>


    <!-- Incluindo jQuery e Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>